.test1::before {
	content: '\264F';
}
	
/*გამყოფი  ხაზი*/
/*.test2::after  {
	content: '';
	width: 3px;
	height: 27px;
	background-color: #363E97;
	display: inline-block;
}*/

/*აიქონის კოდი*/



/*header styles*/
.header-wraper {
	background-color: pink;
	padding: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.logo {
	display: inline-block;
	margin-right: 60px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-right: 22px;
}
.nav-a {
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}

.chat-img {
	height: 100px;
}
.chat-icon {
	position: fixed;
	right: 30px;
	bottom: 50px;
}

.wraper {
	width: 400px;
	height: 400px;
	background-color: green;
	border: 2px solid blue;
	position: relative;
}
.child-box {
	widows: 150px;
	height: 150px;
	background-color: grey;
	position: absolute;
	top: 150px;
	left: 100;
}